@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>



<h2>About Me</h2>

   <h4>Short biography for Tamala Mhango</h4>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h4>Bio</h4>
            <br />

            <p>
                Tamala is currently an undergraduate Information Systems student at the University of Pretoria. 
                Preferred pronouns are Her/She. 
                Her strengths are in soft skills than the technical skills, but she still tries to bridge the gap and improve her skills.
                Interests lie in IT project management, and would like one day to be a chief project executive. 
                She aspires to start her project delivery services organisation and hold a title that at this point does not exist yet. 
                She is a pisces, with ubuntu values to support tomorrow's innovative thinking.
            </p>
        </div>
        <div class="col-sm-4">
            <h4>Tamala</h4>
           
            <img src="~/App_Data/Tamala.jpg" />
            </div>
        </div>
    </div>
